#btn{
    transform:scale(2) translate(275%,100%);
    box-shadow: 3px 3px 2px black;
}
#btn:hover{
    color:red;
}
p{
    transform:translate(20%,500%);
    opacity:0;
}
h1{
    color:red;
    transform:translate(35%,250%);
    opacity:0;
}
.opacity{
    opacity:1;
}

