body{
    background:url(background.jpg);
    background-size:cover;
}
#btn-1,#btn-2{
    box-shadow: 1px 1px 2px rgb(103, 213, 233);
    margin:0 20px;
    transform:scale(1.4);   
    border-radius:10px;
}
#btn-1:hover,
#btn-1:active,#btn-2:hover,
#btn-2:active{
    color:red;
}
p{
    transform:translate(20%,0);
    opacity:0;
    color:rgb(218, 72, 96);
}
.animate__slideInDown{
    color:red;
}
.animate__fadeInUp{
    opacity:1;
}
.no-opacity{
    opacity:0;
}
