@media only screen and (max-width:1200px) {}
@media only screen and (max-width:1023px) {}
@media only screen and (max-width:767px) {
p{
    font-size:10px;
}
h1{
    font-size:25px;
}
}
@media only screen and (max-width:480px) {
p{
    font-size:8px;
}
h1{
    font-size:20px;
}
}	
